<div id="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/searchBar.css">
    <!-- <ul>
        <li>teste</li>
        <li>teste2</li>
    </ul> -->
    <div id="search-container">
        <input id="search-bar" type="text" placeholder="Pesquisar na Wiki">
        <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
        <div id="query-results"></div>
    </div>
</div>
<script src="/scripts/searchBar.js" defer></script>