<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wiki de Guildas WBC - Informações sobre guildas e jogadores">
    <meta name="keywords" content="wbc, guild, guilda, wiki, jogos">
    <meta name="author" content="WBC Guild Wiki">
    <meta name="robots" content="index, follow">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="Wiki de Guildas WBC">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="Wiki de Guildas WBC">
    
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include('header.ejs') %>
        <a href="/guilds">Guildas</a>
</body>

</html>